legend {
    font-size: 1.2em;
}

.game_fieldset {
    padding-top: 30px;
    max-width: 350px;
    font-size: 1.4em;
}

.problem_display {
    color: green;
}

.score_field {
    border:none;
    background-color:white;
    font-weight:800;
    font-size: 1em;
    width: 40px;
}

.answer_field {
    font-size: 0.8em;
    height: 20px;
    width: 150px;
}

#enter_button {
    font-size: 0.7em;
    margin-bottom: 4px;
}

[type="button"] {
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: #aaa;
    background-color: #eee;
}

.message_display {
    height: 80px;
    font-size: 0.8em;
}

#new_game {
    margin-top:5px;
    font-size : 1em;
}